*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Kumbh Sans', sans-serif

body
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  background: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%)) 

  @media (max-width: 1100px)
    height: 100%
    padding: 200px 15px 100px

main
  max-width: 1200px
  width: 85%

.attribution
  text-align: center
  margin-top: 50px
  color: white

.flex-box
  display: flex
  justify-content: space-between
  align-items: center
  background-color: white
  border-radius: 20px 
  width: 1000px
  padding: 150px 30px

  @media (max-width: 1100px)
    width: 95%
    flex-direction: column
    align-items: center
    justify-content: center
    margin: 0 auto
    padding: 150px 15px 50px


  &-1
    display: flex
    justify-content: center
    align-items: center
    width: 40%
    position: relative
    left: -150px
    position: relative

    @media (max-width: 1100px)
      width: 100%
      position: absolute
      top: 50px
      left: -60px

    .img1
      position: relative
      right: -130px
      bottom: -60px

      @media (max-width: 1100px)
        width: 120px
        bottom: -45px
        right: -80px

    .img2
      @media (max-width: 1100px)
        width: 300px

  &-2
    width: 50%
    transition: .2s ease

    @media (max-width: 1100px)
      width: 100%
      display: flex
      flex-direction: column
      align-items: center


    h1
      margin-bottom: 24px
      font-size: 2.250rem
      color: hsl(238, 29%, 16%)

      @media (max-width: 1100px)
        margin-top: 0px


    .accordion-single
      border-bottom: 1px solid #bbb
      padding: 20px 0 0
      width: 90%

      @media (max-width: 1100px)
        margin: 0 auto
    

      .single-title
        color: hsl(238, 29%, 16%)
        display: flex
        justify-content: space-between
        align-items: center
        font-size: 1.125rem
        transition: .5s
        cursor: pointer

        &:hover
          color: hsl(14, 88%, 65%)

        span
          .arrow
            width: 16px


      .single-content
        transition: .1s all
        font-size: 0.9rem
        margin: 15px 0 0 0 
        color: hsl(240, 6%, 50%)
        opacity: 0
        height: 0

      .hide
        opacity: 1
        height: 100%
        padding-bottom: 15px



  
        

